body {
	background: url('background.jpg') no-repeat center fixed;
	background-size: cover;
	font-family: 'montserrat', arial;
}


#div1 {
	margin-top: -10px;
}

#div1 p {
	font-weight: bold;
	color: white;
}

h1 {
	color:white;
}

thead{
	background-color: LightSeaGreen;
	color: white;
}

.resize {
    height: 400px;
    width: auto;
}

#div2 {
	margin-top: 50px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}


.modal-header {
	background-color: LightSeaGreen;
	color: white;
	border-radius: 5px 5px 0px 0px;
}

h2{
	color: LightSeaGreen;
}

#login-btn {
	margin-top: 7px;
	margin-right: 10px;
	background-color: LightSeaGreen;
}

@font-face {
	font-family: 'montserrat';
	src: url(montserrat.ttf) format("truetype");
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }

#myCarousel {
	width: 100%;
}